body {
    margin-left: 30%;
    background-color: #EBEBEB;
    color: rgb(92, 92, 92);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
}

h2 {
    color: #DD5555;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-size: 28px;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

li {

    
}

ul li a {
    display: block;
    float: left;
    margin-left: 90px;
    margin-top: 40px;
}


.pixname {
    width: 75vh;
    height: 65vh;
    background-color:  rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
    padding: 20px;
    
}

#bio {
    text-align: justify;
    padding: 20px;
}

#rond {
    overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    width:180px;
    height:180px;
    border: 6px solid rgb(148, 148, 148);
}

.button {
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        color: #ffffff;
        font-size: 26px;
        background: #DD5555;
        margin-left: 250px;
        margin-right: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        font-weight: bold;
}

.button:hover {
    background-color: rgb(224, 55, 55)
}

.social {
    background-color: rgb(255,255,255);
    width: 75vh;
    height: 20vh;
    padding-right: 40px;
    margin : 20px 0px 20px 0px;
    text-align: center;
    color: rgb(158, 158, 158);
    font-size: 28px;
    font-weight: bold;
    
}

.social a {
    text-decoration: none;
    color: rgb(179, 179, 179);
}


i {
    color: rgb(145, 145, 145);

}

.content {
    width: 69vh;
    height: 115vh;
    background-color: rgb(255,255,255);
    margin : 20px 0px 20px 0px;
    padding: 50px;
    
}

.content h3,h4 {
    text-align: center;
    font-weight: bold;
}

.film {
    width: 71vh;
    height: 30vh;
    padding-top: 50px;
}


.film img {
    max-width: 150px;
}

.filmtxt {
    
    margin-left: 230px;
}

.filmtxt p {
    text-align: justify;
}

.content img {
    vertical-align: text-top;
    float: left;
}

.pixname, .social, .content {
    border: 2px solid;
    border-color: rgb(212, 212, 212);
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(151, 151, 151);
}

#his {
    background-color: rgb(148, 148, 148)
};

